<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      @page {
        size: A4;
      }
    </style>
  </head>
  <body>
    <div class="max-w-4xl my-8 p-6 bg-white text-sm">
      <div class="flex flex-row justify-between items-center mb-5">
        <h1 class="text-4xl font-bold text-blue-600 mb-10">Invoice</h1>
        <div>
          <img src="static/logo.png" alt="Your logo" class="h-24" />
        </div>
      </div>
      <div class="flex flex-row mb-10">
        <div class="flex flex-row w-1/2">
          <div class="text-blue-600 w-12">To</div>
          <div class="text-xs">
            <p>{{ invoicee.name }}</p>
            <p>{{ invoicee.email }}</p>
            <p class="mb-4">{{ invoicee.phone_number }}</p>
            <p>{{ invoicee.street_address }}</p>
            <p>{{ invoicee.district }}</p>
            <p>{{ invoicee.city }} {{ invoicee.post_code }}</p>
            <p>{{ invoicee.country }}</p>
          </div>
        </div>
        <div class="flex flex-row">
          <div class="text-blue-600 w-24">From</div>
          <div class="text-xs">
            <p>{{ sender.name }}</p>
            <p>{{ sender.email }}</p>
            <p class="mb-4">{{ sender.phone_number }}</p>
            <p>{{ sender.street_address }}</p>
            <p>{{ sender.district }}</p>
            <p>{{ sender.city }} {{ sender.post_code }}</p>
            <p>{{ sender.country }}</p>
          </div>
        </div>
      </div>

      <div class="flex flex-col mb-10">
        <div class="flex flex-row items-center">
          <p class="text-blue-600 w-36">Invoice Date</p>
          <p>{{ invoice_date }}</p>
        </div>
        <div class="flex flex-row items-center">
          <p class="text-blue-600 w-36">Invoice Number</p>
          <p>{{ invoice_number }}</p>
        </div>
        <div class="flex flex-row items-center">
          <p class="text-blue-600 w-36">Due Date</p>
          <p>{{ due_date }}</p>
        </div>
      </div>

      <table class="w-full border-collapse">
        <thead>
          <tr class="text-white bg-gradient-to-r from-purple-600 to-blue-500">
            <th class="border px-4 py-2 text-left">Description</th>
            <th class="border px-4 py-2 text-center">Rate</th>
            <th class="border px-4 py-2 text-center">Hours</th>
            <th class="border px-4 py-2 text-right">Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr
            class="{% if loop.index0 % 2 == 0 %}bg-blue-50{% else %}bg-white{% endif %}"
          >
            <td class="border px-4 py-2">{{ item.description }}</td>
            <td class="border px-4 py-2 text-center">
              {{ "%.2f" | format(item.price) }}
            </td>
            <td class="border px-4 py-2 text-center">{{ item.quantity }}</td>
            <td class="border px-4 py-2 text-right">
              {{ "%.2f" | format(item.quantity * item.price) }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr class="font-bold">
            <td colspan="3" class="border px-4 py-2 text-right">Total</td>
            <td class="border px-4 py-2 text-right">
              {{ "%.2f" | format(total) }}
            </td>
          </tr>
        </tfoot>
      </table>

      <p class="mt-10">
        Kindly send your payment to the following bank account details;
      </p>
      <div class="flex flex-row text-xs mt-5">
        <div class="text-blue-600 w-36">
          <p>Bank Name</p>
          <p>Branch Name</p>
          <p>Branch Code</p>
          <p>SWIFT/BIC Code</p>
          <p>Recipient Type</p>
          <p>Bank Code</p>
          <p>Account Number</p>
          <p>Account Type</p>
        </div>
        <div>
          <p>{{ bank_instructions.bank_name }}</p>
          <p>{{ bank_instructions.branch_name }}</p>
          <p>{{ bank_instructions.branch_code }}</p>
          <p>{{ bank_instructions.swift_bic_code }}</p>
          <p>{{ bank_instructions.recipient_type }}</p>
          <p>{{ bank_instructions.bank_code }}</p>
          <p>{{ bank_instructions.account_number }}</p>
          <p>{{ bank_instructions.account_type }}</p>
        </div>
      </div>
      <p class="text-blue-600 text-base text-center mt-10">
        Thank you for your business, your partnership is valued!
      </p>
    </div>
  </body>
</html>
